<a href="https://colab.research.google.com/github/sabbir2014/tean08---CSE327/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

importing dependencies

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import DBSCAN

Data Collection and Analysis

In [35]:
Accidents.head()

  Reference Number  Grid Ref: Easting  ...  Sex of Casualty 7  Age of Casualty 7
0          6140231             398364  ...                NaN                NaN
1          6142035             407438  ...                NaN                NaN
2          6170291             409015  ...                NaN                NaN
3          6180214             409646  ...                NaN                NaN
4          6191021             407754  ...                NaN                NaN

[5 rows x 45 columns]

In [ ]:
# last five rows in the dataframe
Accidents.tail()

In [ ]:
# finding the number of rows and columns
Accidents.shape

In [ ]:
# checking for missing values
Accidents.isnull().sum()

In [ ]:
print(Accidents)

Choosing Lighting Condition and Weather Condition Columns

In [92]:
X = Accidents.iloc[:,[5,14]].values

In [93]:
print(X)

[[ 701   19]
 [2308   36]
 [ 838   18]
 [ 705   53]
 [1515   23]
 [1424   64]
 [ 550   47]
 [ 700   51]
 [ 826   11]
 [1445   43]
 [1735   47]
 [1905   33]
 [1530   17]
 [1807   40]
 [1630   75]
 [1026   20]
 [1100   64]
 [ 230   28]
 [2125   28]
 [1733   32]
 [1757   25]
 [1912    1]
 [1032   36]
 [1517   78]
 [2205   33]
 [ 900   49]
 [1500   79]
 [ 100   43]
 [1800   40]
 [1450   47]
 [2011   18]
 [ 540   38]
 [2031   26]
 [1225   35]
 [1605   74]
 [1510   32]
 [1353   41]
 [2252   29]
 [1129   63]
 [1415   86]
 [1835   57]
 [1400   49]
 [1230   17]
 [1650   19]
 [1755   15]
 [ 151   45]
 [ 810   47]
 [ 559   57]
 [ 550   27]
 [1148   62]
 [1305   46]
 [ 850   47]
 [1500   61]
 [1127   61]
 [ 845   17]
 [1730    5]
 [2100   47]
 [1715   35]
 [1249   19]
 [1501   43]
 [1340   53]
 [1645   54]
 [1540   37]
 [1803    8]
 [1015   69]
 [1900   47]
 [1320   29]
 [ 927   33]
 [ 525   63]
 [1825   38]
 [1640   60]
 [1400    9]
 [1130   53]
 [1219   82]
 [1200    6]
 [ 850   48]
 [1115   79]
 [1525   44]
 [2040   49]
 [1705   41]
 [ 700   31]
 [1830   20]
 [2223   24]
 [1450   19]
 [2133   18]
 [1241   32]
 [1910   44]
 [2129   41]
 [1607   14]
 [1458   29]
 [1823   22]
 [1208   75]
 [1614   46]
 [1725   18]
 [1225   69]
 [ 725   25]
 [ 740   31]
 [1738   19]
 [1745   27]
 [1030   60]
 [2105   33]
 [1550   22]
 [1740   14]
 [2245   16]
 [1614   56]
 [1600   29]
 [1952   21]
 [1109   85]
 [1120   63]
 [1115   28]
 [1335   28]
 [1306   49]
 [1745   28]
 [2115   24]
 [1507   73]
 [ 815   47]
 [ 933   32]
 [1200   12]
 [2226   25]
 [1202   30]
 [1905   18]
 [2352   20]
 [1636   39]
 [1740   34]
 [1900   24]
 [2248   28]
 [2318   21]
 [1514   14]
 [ 930   58]
 [1857   20]
 [ 836    9]
 [1600   28]
 [1100   16]
 [2130   27]
 [2027   19]
 [1318   81]
 [1513   25]
 [1622   26]
 [1904    3]
 [ 450   24]
 [1902   25]
 [1325   49]
 [1638   46]
 [1835    3]
 [1530   44]
 [1924   46]
 [ 654   27]
 [2336   20]
 [1748    5]
 [ 855   26]
 [1004   71]
 [1545   39]
 [2025   47]
 [1045   25]
 [2245   20]
 [1559   20]
 [1750   15]
 [ 737   18]
 [1107   70]
 [1945   30]
 [1420   36]
 [2055   50]
 [2210   19]
 [2324   45]
 [1707   49]
 [1830    7]
 [ 850   45]
 [1607   28]
 [1455   55]
 [1630   67]
 [ 940   42]
 [1530   53]
 [2223   43]
 [1133   52]
 [1436   17]
 [1949   59]
 [  20   54]
 [1250   76]
 [1323   62]
 [1830    4]
 [1949   36]
 [1440   89]
 [1755   12]
 [1546   20]
 [2027   55]
 [2246   25]
 [1422   61]
 [2214   21]
 [1730   19]
 [ 535   23]
 [1430   25]
 [2201   34]
 [ 938   73]
 [1036    9]
 [1300   35]
 [1309   63]
 [1327   26]
 [1230   75]
 [2038    2]
 [1803   35]
 [2215   33]
 [1342   36]
 [ 640   23]
 [1449   55]
 [1019   90]
 [1239   22]
 [ 910   31]
 [1600   50]
 [1700   22]
 [1310   87]
 [1645   14]
 [1805   20]
 [ 711   57]
 [2015   20]
 [ 803   65]
 [ 559   38]
 [  40   20]
 [ 130   23]
 [1817   77]
 [ 818   37]
 [ 705   22]
 [2003    3]
 [1640   20]
 [1915   44]
 [1641   32]
 [   7   30]
 [1610   50]
 [1805   66]
 [1203   22]
 [1602   63]
 [1655   18]
 [1923   14]
 [1451   14]
 [1639   13]
 [2121   31]
 [1325   27]
 [1520   29]
 [ 837   53]
 [1845   30]
 [1021   60]
 [2100   31]
 [1652   52]
 [2158    6]
 [ 313   26]
 [ 638   29]
 [1844   50]
 [2243   78]
 [1111   61]
 [1940   36]
 [1350    5]
 [1800   55]
 [2200   21]
 [1351   49]
 [2312   24]
 [ 220   37]
 [1329   43]
 [1030   22]
 [1630   83]
 [1812   16]
 [1528   51]
 [ 730   45]
 [1713   25]
 [ 858   26]
 [1737   38]
 [ 805   29]
 [1600   47]
 [1645   15]
 [ 733   11]
 [1718   28]
 [ 916   74]
 [1957   13]]

Choosing the number of cluster

In [95]:
clustering = DBSCAN(eps=50, min_samples=20).fit(x)

In [96]:
cluster = clustering.labels_

In [97]:
len(set(cluster))

4